 #slider {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 20px;
  background-color: #F1F5FE;
  height: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
#slider:focus {
  outline: none;
}




/*Start of CSS for CHROME BROWSER*/
#slider::-webkit-slider-thumb {
  background: transparent;
  -webkit-appearance: none;
  background: url('../images/icon-slider.svg');
  background-color: #00bcd4;
  background-size: 70% auto;   /*To obatain padding effect with arrows*/
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  box-shadow: 0px 10px 20px 3px rgba(13,217,195,0.6);
  margin-top: -0.6rem;
}

/*To imitate Firefox RANGE PROGRESS a linear gradient is set with JS script*/
#slider::-webkit-slider-runnable-track {
  border-radius: 20px;
  height: 0.5rem;
}



/*Start of CSS for FIREFOX BROWSER*/
#slider::-moz-range-thumb {
  /*Arrow SVG icon inserted as background image*/
  background: url('../images/icon-slider.svg');
  background-color: #00bcd4;
  background-size: 70% auto;   /*To obatain padding effect with arrows*/
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  box-shadow: 0px 10px 20px 3px rgba(13,217,195,0.6);
}

#slider::-moz-range-thumb:active, #slider::-moz-range-thumb:hover {
  background-color: #0097a7;
}


#slider::-moz-range-progress {
  background-color: #A1F2EA;
  height: 0.5rem;
  border-radius: 20px;
}
/*End of CSS for FIREFOX BROWSER*/

/*Start of CSS for IE BROWSER*/
#slider::-ms-thumb {
  background: url('../images/icon-slider.svg');
  background-color: #00bcd4;
  background-size: 70% auto;   /*To obatain padding effect with arrows*/
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  box-shadow: 0px 10px 20px 3px rgba(13,217,195,0.6);
}

#slider::-ms-track {
  background: transparent;
  background-color: linear-gradient(to right, #A1F2EA 20%, #F1F5FE 20% 100%);
  height: 0.5rem;
  border-radius: 20px;
  color: transparent; /*To remove default tick marks*/
}

#slider::-ms-fill-lower {
  background-color: #A1F2EA;
}

#slider::-ms-tooltip {
  display: none;
}
/*End of CSS for IE BROWSER*/

#sliderContainer {
  position: relative;
  padding-top: 2rem;
} 


/*TOGGLER CSS*/

#subscriptionToggle {
  position: relative;
  width: 40px;
  height: 20px;
  margin: 0 .6rem; /*vertical margin to align spans to toggler*/
  appearance: none;
  -webkit-appearance: none;
  background: #D1D9F0;
  border: none;
  border-radius: 20px;
  transition: .5s
}

#subscriptionToggle:focus {
  outline: none;
}


#subscriptionToggle:checked[type="checkbox"] {
  background: #00b8d4;
}

#subscriptionToggle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background: white;
  transition: .5s
}

#subscriptionToggle:checked:before {
  left: 22px;
}

